<!DOCTYPE html>
<html>
  <head>
    <title>Public Home</title>
  </head>
  <body>
    <table border="1" cellspacing="0" width="90%" >
      <tr>
        <td>
            <table width="100%">
                <tr>
                  <td><img height="40px" weight="40px" src="logo.png" alt=""></td>
                  <td align = "right">
                      <a href="../View/Login.html">Login</a>|
                      <a href="../View/Registration.html">Regestration</a>
                  </td>
                </tr>
            </table>
          </td>
      </tr>
      <tr>
        <td height="150px" weight="150px" colspan="2">
            <!DOCTYPE html>
<html>
    <head>
        <title>HTML Site</title>
    </head>
    <body>
         <table align="center">
             <tr>
                <td></td>
                <td>
                    <form method="post" action="RegCheck.php"> 
                        <fieldset width="5px">
                            <legend>REGISTRATION</legend>
                          <table width="100.7%" height="100px" align="center">
                              <tr>
                                  <td width="30%" height="30px">ID</td>
                                  <td width="60%" height="30px">:<input type="text" name="ID" value=""></td>
                              </tr>
                            <tr>
                                <td width="30%" height="30px">Password</td>
                                <td width="60%" height="30px">:<input type="password" name="password"></td>
                            </tr>
                            <tr>
                                <td width="30%" height="30px">Confirm Password</td>
                                <td width="60%" height="30px">:<input type="password" name="confirm"></td>
                            </tr>
                            <tr>
                              <td width="30%" height="30px">Name</td>
                              <td width="60%" height="30px">:<input type="text" name="name" value=""></td>
                          </tr>
                          <tr>
                            <td width="30%" height="30px">User Type</td>
                        </tr>
                        <tr>
                          <td><hr></td>
                      </tr>
                              <tr>
                                <td width="30%" height="30px">
                                <fieldset>
                                <input type="radio" name="gender" value="User">User
                                <input type="radio" name="gender" value="Admin">Admin
                                </fieldset>
                                </td>
                            </tr>
                            <tr>
                                <td><hr></td>
                            </tr>
                            <tr>
                                <td height="30px" align="left" colspan="3"><input type="submit" name="submit" value="Sign Up"><a href="Login.html">Sign In</a></td>
                            </tr>
                          </table>
                        </fieldset>
                        </form>
                </td>
                <td></td>
             </tr>
         </table>
    </body>
</html>
        </td>
      </tr>
      <tr>
        <td align="center" colspan="2">Copyright Ⓒ 2017</td>
      </tr>
    </table>

  </body>
</html>